---
layout: default
---
<article class="home">

  <header class="post-header">
    <h1 class="page-heading">Archives by category</h1>
  </header>

  <div>
      <div>
          {% for category in site.categories %}
            <div class="">
              {% capture category_name %}{{ category | first }}{% endcapture %}
              <div id="#{{ category_name | slugize }}"></div>
              <h4 class="category-head">* {{ category_name }}</h4>
              <ul class="post-archives">
              {% for post in site.categories[category_name] %}
                <li style="margin-left: 20px;">
                    <span class="post-meta">
                      {{ post.date | date: "%b %-d, %Y" }}
                      {% if post.categories != empty or post.tags != empty %}
                        {% include category_links.html categories=post.categories tags=post.tags %}
                      {% endif %}
                      {% if post.external-url %}
                        • <a href="{{ post.url | relative_url }}">Permalink</a>
                      {% endif %}
                    </span>
            
                    <h2>
                      {% if post.external-url %}
                        <a class="post-link" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
                      {% else %}
                        <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}</a>
                      {% endif %}
                    </h2>
                  </li>
                  
                  
                  
              {% endfor %}
              </ul>
            </div>
          {% endfor %}
          </div>    
  </div>

  {% if site.comments == true and page.comments != false %}
    <div class="post-comments">
      {% include custom_comments_provider.html %}
    </div>
  {% endif %}

</article>
