---
layout: default
---

<article class="tag">
    <div>
        <header class="post-header">
            <h1 class="page-heading">Tag cloud</h1>
        </header>

        <div>
            {% include tag_cloud.html %}
        </div>  

        <div>
            {%  for tag in site.tags %}
                <!-- tag_name 변수 지정: 태그명은 소문자화(slugize) 한다 -->
                {% capture tag_name %}{{tag|first|slugize}}{% endcapture %}
                <!-- font_size 변수 지정: 태그숫자/전체태그숫자 * 100 + 50 -->
                {% capture font_size %}{{tag|last|size| times:50 | divided_by:site.tags.size | plus: 14 }}{% endcapture %}
                <!-- tag_size 변수 지정-->
                {% capture tag_size %}{{tag|last|size}}{% endcapture %}

                <div class="tagname">
                    <a href="/tags/archives#{{tag_name}}" style="font-size:{{font_size}}px">{{ tag_name }}({{tag_size}})</a>
                </div>
            {% endfor %}
        </div> 
    </div>
  
    {% if site.comments == true and page.comments != false %}
      <div class="post-comments">
        {% include custom_comments_provider.html %}
      </div>
    {% endif %}
  </article>